[Desktop Entry]
Version=1.0
Type=Application
Name=Install SWAT
GenericName=SWAT Installer
Comment=Install SWAT to disk
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;
